@using ApiContracts.Dtos.Dispatcher
@using ApiContracts.Dtos.Driver
@using ApiContracts.Dtos.Job
@using ApiContracts.Enums
@using BlazorFleetApp.Services.Dispatcher
@using BlazorFleetApp.Services.Job
@using BlazorFleetApp.Services.Driver
@using BlazorFleetApp.Services.Events
@inject IDriverService DriverService
@inject IDispatcherService DispatcherService
@inject IJobService JobService
@inject RefreshDriversEvent RefreshDriversEvent

<div class="container-fluid">
    <div class="row">
        <div class="col-12 select-wrapper">
            <select @onchange="OnJobSelectedObject">
                <option value="">Select Job</option>
                @foreach (var j in jobs)
                {
                    if (j != null)
                    {
                        <option value="@j.Id">@j.Title</option>
                    }
                }
            </select>
        </div>
        @if (selectedJob != null)
        {
            <div class=" col-12 job-details-card fade-in w-100">
                <h4>@selectedJob.Title</h4>

                <p>@selectedJob.Description</p>
                <p><strong>Cargo:</strong> @selectedJob.CargoInfo</p>

                <p>
                    <strong>Route:</strong>
                    @selectedJob.PickupLocationState → @selectedJob.DropLocationState
                </p>

                <button class="primary-button" @onclick="AssignJobAsync">Assign
                    Job
                </button>

                <div class="error-message">@errorMessage</div>
                <div class="error-message">@message</div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public int? InitialDriverId { get; set; }
    [Parameter] public int? InitialDispatcherId { get; set; }
    [Parameter] public DriverDto? InitialDriver { get; set; }
    [Parameter] public DispatcherDto? InitialDispatcher { get; set; }
    [Parameter] public List<JobDto?> InitialJobs { get; set; }
    private DriverDto? driver;
    private List<JobDto?> jobs = new List<JobDto?>();
    private DispatcherDto? dispatcher;
    private string errorMessage = "";
    private string message = "";
    private JobDto? selectedJob;

    protected override async Task OnInitializedAsync()
    {
        await LoadDriverAsync();
        await LoadDispatcherAsync();
        await LoadJobsAsync();
    }

    private async Task LoadDriverAsync()
    {
        if (InitialDriverId != null) driver = await DriverService.GetSingleAsync((int)InitialDriverId);
        else if (InitialDriver != null) driver = InitialDriver;
    }

    private async Task LoadDispatcherAsync()
    {
        if (InitialDispatcherId != null) dispatcher = await DispatcherService.GetSingleAsync((int)InitialDispatcherId);
        else if (InitialDispatcher != null) dispatcher = InitialDispatcher;
    }

    private async Task LoadJobsAsync()
    {
        jobs = InitialJobs;
        await Task.CompletedTask;
    }

    private Task OnJobSelectedObject(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out int id))
        {
            selectedJob = jobs.FirstOrDefault(x => x?.Id == id);
        }

        return InvokeAsync(StateHasChanged);
    }

    private async Task AssignJobAsync()
    {
        if (driver?.Status == DriverStatus.Available)
        {
            try
            {
                if (selectedJob != null)
                {
                    UpdateJobDto dto = new()
                    {
                        Title = selectedJob.Title,
                        CargoInfo = selectedJob.CargoInfo,
                        CurrentStatus = JobStatus.Assigned,
                        DeliveryTime = selectedJob.DeliveryTime,
                        Description = selectedJob.Description,
                        DispatcherId = selectedJob.DispatcherId,
                        DriverId = driver.Id,
                        DropLocationState = selectedJob.DropLocationState,
                        DropLocationZip = selectedJob.DropLocationZip,
                        Id = selectedJob.Id,
                        LoadedMiles = selectedJob.loadedMiles,
                        WeightOfCargo = selectedJob.weightOfCargo,
                        TypeOfTrailerNeeded = selectedJob.TypeOfTrailerNeeded,
                        TotalPrice = selectedJob.TotalPrice,
                        PickupTime = selectedJob.PickupTime,
                        PickupLocationZip = selectedJob.PickupLocationZip,
                        PickupLocationState = selectedJob.PickupLocationState,
                    };
                    await JobService.UpdateAsync(dto);
                    errorMessage = "";
                    await ChangeStatusAsync(DriverStatus.Busy);
                    message = "Job has been assigned successfully";
                    selectedJob = null;
                    await RefreshDriversEvent.NotifyDriversChangedAsync();
                }
            }
            catch (Exception e)
            {
                errorMessage = e.Message;
            }
        }
        else
        {
            errorMessage = "Cannot assign a job to a busy or off duty driver";
        }
    }
    private async Task ChangeStatusAsync(DriverStatus newStatus)
    {
        if (driver == null) return;
        driver = await DriverService.GetSingleAsync(driver.Id);
        if (driver != null)
        {
            driver = driver with { Status = newStatus};
            await DriverService.UpdateAsync(driver);
        }

        await LoadDriverAsync();
        StateHasChanged();
    }
}