@page "/create-driver"
@using ApiContracts.Dtos.Driver
@using ApiContracts.Enums
@using BlazorFleetApp.Services
@using BlazorFleetApp.Services.Driver
@inject IDriverService DriverService
@rendermode InteractiveServer

<h3>CreateDriver</h3>

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-info">@message</div>
}

<input class="form-control mb-2" placeholder="First name" @bind="firstname" />
<input class="form-control mb-2" placeholder="Last name" @bind="lastname" />
<input class="form-control mb-2" placeholder="Email address" @bind="email" />
<input class="form-control mb-2" placeholder="Phone number" @bind="phonenumber" />
<input class="form-control mb-2" placeholder="Password" type="password" @bind="password" />
<input class="form-control mb-2" placeholder="Mc number"  @bind="mcNumber" />

<!-- Enum dropdown FIX -->
<select class="form-control mb-2" @bind="trailertype">
    @foreach (var type in Enum.GetValues<TrailerType>())
    {
        <option value="@type">@type</option>
    }
</select>
<select class="form-control mb-2" @bind="status">
    @foreach (var type in Enum.GetValues<DriverStatus>())
    {
        <option value="@type">@type</option>
    }
</select>
<select class="form-control mb-2" @bind="role">
    @foreach (var type in Enum.GetValues<DriverCompanyRole>())
    {
        <option value="@type">@type</option>
    }
</select>

<input class="form-control mb-2" placeholder="Location state"  @bind="locationstate" />
<input class="form-control mb-2" placeholder="Location zip code"  @bind="locationzipcode" />

<button class="btn btn-primary" @onclick="RegisterUser">Register</button>

@code {
    private string firstname = "";
    private string lastname = "";
    private string email = "";
    private string phonenumber = "";
    private string password = "";
    private string mcNumber = "";

    private TrailerType trailertype = TrailerType.dry_van;
    private DriverStatus status = DriverStatus.available;
    private DriverCompanyRole role = DriverCompanyRole.Driver;

    private string locationstate = "AL";
    private int locationzipcode = 35010;

    private string message = "";

    private async Task RegisterUser()
    {
        try
        {
            await DriverService.CreateAsync(
                new CreateDriverDto(
                    firstname,
                    lastname, 
                    email,
                    phonenumber,
                    password,
                    mcNumber,
                    trailertype,
                    status,
                    role,
                    locationstate,
                    locationzipcode
                )
            );

            message = "Driver created successfully!";
        }
        catch (Exception ex)
        {
            message = $"Error: {ex.Message}";
        }
    }
}
